@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("images/bg_body.png");
	background-color: #cccccc;
	font-size: 95%;
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", "Osaka-mono", "monospace";
	line-height: 1.5em;
	color: #333333;
}

div#pagebody {
	width: 1000px;
	margin: 0 auto;
	background-color: #ffffff;
	background-image: url("images/bg_pagebody.png");
	background-repeat: repeat-y;
}

/*メインメニュー*/

ul#menu {
	width: 960px;
	height: 50px;
	margin: 0px 20px;
}

#menu li {
	list-style-type: none;
	display: inline;
	float: left;
}

#menu li a {
	background-color: navy;
	color: #ffffff;
	display: block;
	width: 240px;
	height: 35px;
	padding: 15px 0px 0px 0px;
	text-align: center;
	text-decoration: none;
	background-image: url("images/bg_menu1.png");
	background-repeat: no-repeat;
}

#menu li a:hover {
	background-color: #000066;
	background-image: url("images/bg_menu2.png");
	
}

div#header {
	height: 80px;
}

div#header h1 {
	padding: 10px 0px 5px 20px;
	font-size: 18px;
	font-family: Arial, Helvetica, "sans-serif";
}

div#header h1 a {
	text-decoration: none;}

img{
	border: 0;
}

/*ヘッダー画像*/
div#img_index {
	width: 960px;
	height: 360px;
	margin: 5px 20px;
}

div#img_subpage {
	width: 960px;
	height: 240px;
	margin: 5px 20px;
}

.infoming_index {
	width: 200px;
	height: 150px;
	margin: 0px 0px 20px 20px;
	float: right
}

hr {
	clear: both;
	width: 680px;
	margin: 10px 0px;
	border: 1px dotted #cccccc;
}

/*左カラム　サブメニュー*/

div#submenu {
	width: 260px;
	margin: 10px 10px 10px 25px;
	float: left;
}

div#submenu li {
	list-style-type: none;
}

div#submenu li a {
	display: block;
	height: 45px;
	padding: 15px 0px 0px 30px;
	text-decoration: none;
	border-bottom: 1px dotted gray;
	background-image: url("images/bg_submenu.png");
	background-repeat: no-repeat;
	color: #333333;
}

div#submenu li:first-child a {
	border-top: 1px dotted gray;
}

div#submenu li a:hover{
	text-decoration: underline;
}
div#submenu li a:before {
	content: url("images/icon_submenu.png");
	margin: 0px 10px 0px 0px;
	vertical-align: text-top;
}

/*右カラム　インフォメーション*/

div#info {
	width: 660px;
	float: left;
	padding: 10px 20px 0px 0px;
}

p {
	width: 660px;
	margin: 10px;
	text-indent: 1em;

}

div#footer {
	clear: both;
	height: 40px;
	padding: 10px 0px 0px 0px;
	font-size: x-small;
	text-align: center;
}

h2 {
	width: 160px;
	height: 43px;
	padding: 17px 0px 0px 100px;
	font-size: 16px;
	background-image: url("images/bg_h2.png");
	background-repeat: no-repeat;
	background-color: #000033;
	color: #ffffff
}

h3 {
	font-size: 14px;
	width: 660px;
	padding: 10px 0px 10px 20px;
	background-color: #003399;
	color: #ffffff;
	border-radius: 3px;
}


