@charset "utf-8";
/* CSS Document */

/*テーブル*/

table.profile {
	width: 680px;
	border-collapse: collapse;
	
}

table.profile th {
	width: 150px;
	padding: 10px;
	text-align: center;
	white-space: nowrap;
	background-color: #ccccee;
	border-bottom: dotted #666666 1px;
}

table.profile td {
	padding: 10px;
	background-color: #eeeeff;
	border-bottom: dotted #666666 1px;
}

.infoming_subpage {
	width: 400px;
	height: 300px;
	margin: 0px 20px 20px 0px;
	float: left;
}

/*備考情報*/

div.remarkes {
	margin: 0px 10px 10px 10px;
}

h4 {
	color: #000066;
}
